body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: right;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-variant: small-caps;
}

nav a:hover {
    color: #ffffa2;
}

.lista-preguntas {
    background-color: #e9e9e9;
    list-style-type: none;
    padding: 20px;
    width: 70%;
}

.lista-preguntas a {
    text-decoration: none;
    color: #444;
    border-left: 3px solid;
    padding-left: 10px;
    border-left-color: transparent;
}

.lista-preguntas a:hover {
    text-decoration: underline;
    color: #222;
    border-left-color: #2227;
}

footer {
    padding: 1em;
    background-color: #e3e3e7;
}
